html, body {
    font-family: 'Open Sans', sans-serif;
    font-display: auto;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>") 16 0,auto;
}

.siteName{
    font-family: 'Lemon', cursive;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto;
}

.footer {
    background-color: #60D;
}

.footerText {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    background: #222491;
    color: #FAC7F8;
    height: 2.5rem;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: .5rem 0 .8rem 0;
}

p.footerText {
    text-align: center;
    margin: 0;
    font-size: 1rem;
}